html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.box {
    width: 900x;
    height: 481px;
    text-align: center;
    font-size: 150px;
    line-height: 481px;
    font-family: sans-serif;
    overflow: hidden;
    span {
        display: inline-block;
        color: blue;
        transition: 1s;
        float: left;
        &:nth-child(odd) {
            transform: translateY(-100%);
        }
        &:nth-child(even) {
            transform: translateY(100%);
        }
        &::before {
            content: attr(data-text);
            position: absolute;
            color: red;
            width: 180px;
            height: 481px;
            display: inline-block;
        }
        &:nth-child(odd)::before {
            transform: translateY(150%);
        }
        &:nth-child(even)::before {
            transform: translateY(-124%);
        }
    }

    &:hover{
        span {
            transform: translateY(0);
        }
    }
}
